/* global + navbar */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #262626;
}

button {
	background-color: transparent;
	display: inline-block;
	outline: none;
	border: transparent;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}
.logo > a:hover {
	text-decoration: none;
}

header {
	background-color: #fff;
	width: 100%;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	padding: 0 1rem;
}

nav {
	background-color: #fff;
	max-width: 992px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	justify-self: center;
}

nav > div > a {
	padding: 1rem;
}

.logo {
	font-weight: 800;
	font-size: 1rem;
}

.cta > a {
	font-weight: 600;
}
.cta > button {
	font-weight: 600;
	background-color: #262626;
	color: #fafafa;
	padding: 6px 12px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
	background-color: #262626dc;
}

.section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.section-center {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
}

/* end of global + navbar */

/* landing page  */

.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem 1rem 1rem 2rem;
}
.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.info h1 {
	font-size: 3rem;
	opacity: 0;
	transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	transform: translateY(-1rem);
	-webkit-transform: translateY(-1rem);
	-moz-transform: translateY(-1rem);
	-ms-transform: translateY(-1rem);
	-o-transform: translateY(-1rem);
}
.info h1.active {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}

.info p {
	text-align: left;
	line-height: 1.6;
	width: 90%;
	opacity: 0;
	transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.info p.active {
	opacity: 1;
}

.info > a {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	opacity: 0;
	transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	font-weight: 700;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transform: translateY(1rem);
	-webkit-transform: translateY(1rem);
	-moz-transform: translateY(1rem);
	-ms-transform: translateY(1rem);
	-o-transform: translateY(1rem);
}
.info > a:hover {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.info > a.active {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}

.image {
	flex: 1;
	/* height: 700px; */
	height: 700px;
}

.image > img {
	width: 100%;
	height: 0;
	opacity: 0;
	display: block;
	object-fit: cover;
	transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.image > img.active {
	height: 700px;
	opacity: 1;
}

/* end of landing page */

/* products page  */

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.product-container img {
	width: 100%;
	max-width: 300px;
}

.product-container {
	margin: 0 auto;
}

.product-info {
	display: flex;
	justify-content: space-between;
}

.p-name {
	color: #262626;
	font-weight: 800;
	letter-spacing: 2px;
}

.p-price {
	font-weight: 800;
	letter-spacing: 1px;
	color: grey;
}

.products {
	padding: 2rem 1rem;
}

/* end of products page   */

/* util styles - loading */

.loading {
	text-align: center;
	display: flex;
	justify-content: center;
}

.spinner {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 3px solid #fafafa;
	border-top: 3px solid #262626;
	border-right: 3px solid #262626;
	animation: spin;
	-webkit-animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}

/* single product page */

.single-product {
	display: flex;
	align-items: center;
}

.single-product h1 {
	font-size: 2.5rem;
}

.single-product-desc {
	/* width: 95%; */
	font-size: 14px;
	line-height: 1.5;
}
.single-product-info {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.75rem;
}
.single-product-image {
	padding: 2rem;
}

.single-footer-info {
	display: flex;
	align-items: center;
}
.single-footer-info > h6 {
	width: 60px;
	margin-right: 0.5rem;
}
.single-footer-info > p {
	font-size: 14px;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #c7c7c7;
}
/* end of single product page */

/* add to cart */

.add-to-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	gap: 0.25rem;
}

.add-to-cart-btn {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
}
.add-to-cart-btn:hover {
	background-color: #262626f8;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.cart-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.cart-toggle > button {
	font-weight: 900;
	font-size: 2rem;
	user-select: none;
}
.cart-toggle > button:hover {
	color: #262626ec;
}

.cart-toggle > span {
	font-size: 2rem;
}

/* cart amount - NAVBAR */
.cart-amount {
	font-weight: 900;
}

.empty-cart {
	text-align: center;
}

.empty-cart h1 {
	margin-bottom: 1rem;
}

.empty-cart > a {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	text-decoration: none;
	font-weight: 700;
}

/* media queries */

@media screen and (max-width: 550px) {
	.login-btn {
		display: none;
	}
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.error > a {
	background-color: #262626;
	color: #fafafa;
	padding: 6px 12px;
	text-decoration: none;
}

@media screen and (max-width: 840px) {
	.single-product {
		flex-direction: column;
		align-items: start;
	}

	.single-product-info {
		padding: 2rem 2rem 0 2rem;
	}
	.single-product-image {
		padding: 0 2rem 0 2rem;
	}
	.single-product-desc {
		width: 80%;
		font-size: 13px;
	}
}
