/* global + navbar */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #262626;
}

button {
	background-color: transparent;
	display: inline-block;
	outline: none;
	border: transparent;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}
.logo > a:hover {
	text-decoration: none;
}

header {
	background-color: #fff;
	width: 100%;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
	position: sticky;
	z-index: 999;
	top: 0;
	padding: 0 1rem;
}

nav {
	background-color: #fff;
	max-width: 992px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	justify-self: center;
}

@media screen and (max-width: 400px) {
	.nav-links > a:first-child {
		display: none;
	}
}

nav > div > a {
	padding: 1rem;
}

.logo {
	font-weight: 800;
	font-size: 1rem;
}

.cta > a {
	font-weight: 600;
}
.cta > button {
	font-weight: 600;
	background-color: #262626;
	color: #fafafa;
	padding: 6px 12px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
	background-color: #262626f6;
	text-decoration: none;
}

.login-btn {
	background-color: #262626;
	color: #fafafa;
}

.logout-btn {
	color: #262626;
	background-color: transparent;
}
.logout-btn:hover {
	background-color: transparent;
}

.section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.section-center {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
}

/* end of global + navbar */

/* landing page  */

.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem 1rem 1rem 2rem;
}
.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.info h1 {
	font-size: 3rem;
	opacity: 0;
	transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	transform: translateY(-1rem);
	-webkit-transform: translateY(-1rem);
	-moz-transform: translateY(-1rem);
	-ms-transform: translateY(-1rem);
	-o-transform: translateY(-1rem);
}
.info h1.active {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}

.info p {
	text-align: left;
	line-height: 1.6;
	width: 90%;
	opacity: 0;
	transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.info p.active {
	opacity: 1;
}

.info > a {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	opacity: 0;
	transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1),
		transform 2s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	font-weight: 700;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transform: translateY(1rem);
	-webkit-transform: translateY(1rem);
	-moz-transform: translateY(1rem);
	-ms-transform: translateY(1rem);
	-o-transform: translateY(1rem);
}
.info > a:hover {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.info > a.active {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}

.image {
	flex: 1;
	/* height: 700px; */
	height: 700px;
}

.image > img {
	width: 100%;
	height: 0;
	opacity: 0;
	display: block;
	object-fit: cover;
	transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: height 2.5s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 2.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.image > img.active {
	height: 700px;
	opacity: 1;
}

@media screen and (max-width: 678px) {
	.landing {
		flex-direction: column;
		width: 100%;
	}
	.landing .image {
		margin-top: 2rem;
		margin-right: auto;
		width: 100%;
	}
	.landing .image > img {
		height: 400px;
		width: 100%;
	}
}

/* end of landing page */

/* products page  */

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.product-container img {
	width: 100%;
	max-width: 300px;
}

.product-container {
	margin: 0 auto;
}

.product-info {
	display: flex;
	justify-content: space-between;
}

.p-name {
	color: #262626;
	font-weight: 800;
	letter-spacing: 2px;
}

.p-price {
	font-weight: 800;
	letter-spacing: 1px;
	color: grey;
}

.products {
	padding: 2rem 1rem;
}

/* end of products page   */

/* util styles - loading */

.loading {
	text-align: center;
	display: flex;
	justify-content: center;
}

.spinner {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 3px solid #fafafa;
	border-top: 3px solid #262626;
	border-right: 3px solid #262626;
	animation: spin;
	-webkit-animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}

/* single product page */

.single-product {
	display: flex;
	align-items: center;
}

.single-product h1 {
	font-size: 2.5rem;
}

.single-product-desc {
	/* width: 95%; */
	font-size: 14px;
	line-height: 1.5;
}
.single-product-info {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.75rem;
}
.single-product-image {
	padding: 2rem;
}

.single-footer-info {
	display: flex;
	align-items: center;
}
.single-footer-info > h6 {
	width: 60px;
	margin-right: 0.5rem;
}
.single-footer-info > p {
	font-size: 14px;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #c7c7c7;
}
/* end of single product page */

/* cart page */

.cart-page-headers {
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

.separator.dark {
	margin-bottom: 3rem;
}

.cart-page-headers > div {
	justify-self: center;
	font-weight: 800;
	letter-spacing: 3px;
	opacity: 0.5;
}

.cart-page-container {
	padding-top: 4rem;
}

.cart-page-items {
	padding: 1rem;
}

.single-cart-item {
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr;
	align-items: center;
}
.single-cart-item > div {
	justify-self: center;
}

.single-cart-item img {
	width: 100px;
	height: 75px;
	object-fit: cover;
}

.cart-image-name {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	width: 200px;
}
.cart-image-name h5 {
	letter-spacing: 1px;
}
.cart-item-quantity {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 0.2rem;
}
.cart-item-quantity > button {
	font-size: 1.5rem;
}

.cart-separator {
	margin: 2rem 0;
	opacity: 0.3;
}

.p-price.lighter {
	font-weight: 600;
	opacity: 0.9;
}

.cart-total-section {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -2rem;
}

.cart-total {
	margin-left: auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-total a {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	font-weight: 800;
	text-decoration: none;
}
.cart-total-info > h3 {
	font-size: 2rem;
}

.cart-total-info {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.clear-cart {
	padding: 9px 18px;
	color: #262626;
	border: 1px solid;
	border: 1px solid #262626;
	background-color: transparent;
	font-weight: 800;
}
.clear-cart:hover {
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
/* end of cart page */

/* add to cart */

.add-to-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	gap: 0.25rem;
}

.add-to-cart-btn {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	font-weight: 800;
}
.add-to-cart-btn:hover {
	background-color: #262626f8;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.cart-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.cart-toggle > button {
	font-weight: 900;
	font-size: 2rem;
	user-select: none;
}
.cart-toggle > button:hover {
	color: #262626ec;
}

.cart-toggle > span {
	font-size: 2rem;
}

/* cart amount - NAVBAR */
.cart-amount {
	font-weight: 900;
}

.empty-cart {
	text-align: center;
}

.empty-cart h1 {
	margin-bottom: 1rem;
}

.empty-cart > a {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	text-decoration: none;
	font-weight: 700;
}

/* user login form */

.user-login-page {
	padding-top: 6rem;
	display: grid;
	place-items: center;
}

.user-login-form {
	transform: scale(1.2);
	padding: 1.25rem;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid rgba(0, 0, 0, 0.2);
	gap: 1rem;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	letter-spacing: 1px;
}

.form-input {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 9px 18px 9px 4px;
	background-color: transparent;
}

.form-input:focus {
	border: 1px solid #262626;
}

.user-login-form > button {
	margin-top: 1rem;
	color: #fafafa;
	background-color: #262626;
	padding: 9px 18px;
	width: 100%;
	font-weight: 800;
	letter-spacing: 1px;
}
.user-login-form > button:hover {
	background-color: #262626d0;
}

.login-error {
	font-size: 14px;
}

/* end of user login form */

/* checkout page */

.checkout-main {
	display: grid;
	place-items: center;
	padding-top: 4rem;
}
.checkout-inner {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.checkout-item {
	display: flex;
	margin-bottom: 1.25rem;
}

.checkout-item > h6 {
	font-size: 12px;
	font-weight: 700;
	color: #acacac;
	margin-left: auto;
}

.checkout-cta {
	margin: 0.5rem 0;
}

.checkout-cta > h2 {
	margin: 1.5rem 0;
}

.checkout-cta > button {
	background-color: rgb(0, 140, 140);
	border: 1px solid rgb(0, 140, 140);
	color: #fafafa;
	padding: 9px 18px;
	letter-spacing: 2px;
	font-weight: 800;
	width: 100%;
	font-size: 1.1rem;
}

.checkout-cta button:hover {
	opacity: 0.8;
}

.checkout-cta > .back-to-cart-checkout {
	margin-top: 1rem;
	background-color: transparent;
	color: #262626;
	border: 1px solid #262626;
	padding: 9px 18px;
	letter-spacing: 2px;
	font-weight: 600;
	width: 100%;
	text-decoration: none;
	text-align: center;
}

/* end of checkout page */

/* error util */

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.error > a {
	background-color: #262626;
	color: #fafafa;
	padding: 9px 18px;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 700;
}
.error > a:hover {
	opacity: 0.9;
}

.order-complete-btn {
	text-align: center;
	margin: 0.5rem auto;
	text-decoration: none;
	padding: 9px 18px;
	letter-spacing: 2px;
	color: #fafafa;
	background-color: #262626;
	font-weight: 800;
}
.order-complete-btn:hover {
	text-decoration: none;
}
.inner-complete {
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkout-inner-success {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
	gap: 1rem;
}
.order-success-message {
	color: rgb(0, 140, 140);
}

/* media queries */

@media screen and (max-width: 575px) {
	.login-btn {
		display: none;
	}
}

@media screen and (max-width: 678px) {
	.cart-page-headers {
		display: none;
	}
	.separator.header {
		display: none;
	}
}

@media screen and (max-width: 840px) {
	.single-product {
		flex-direction: column;
		align-items: start;
	}

	.single-product-info {
		padding: 2rem 2rem 0 2rem;
	}
	.single-product-image {
		padding: 0 2rem 0 2rem;
	}
	.single-product-desc {
		width: 80%;
		font-size: 13px;
	}
}
